### Terraform template
# Local .terraform directories
**/.terraform/*
**/.terraform.lock.hcl
**/.terragrunt-cache/*

# .tfstate files

# IntelliJ
.idea

# Terraform state
**/terraform.tfstate.d/*
*.tfstate
*.tfstate.*

# Terraform plan
*.plan
